/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2018, 12:23:48 PM
    Author     : shitalk
*/
.search-widget input[type=text] {
    width: 330px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-widget input[type=text]:focus {
    width: 100%;
}
.navbar-fixed-top {
    min-height: 80px;
}

.navbar-brand img{
    border-radius: 10px;
}

.banner-image img {
    border-radius: 10px;
    animation-delay: 20s;
    animation: ease-in;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}